<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Backoffice</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock fa-fw"></span>BackOffice</h1>

        <p>Accedi o Registrati con:</p>

        <a href="/login" class="btn btn-default"><i class="fa fa-user fa-fw"></i>Accedi</a>
        <a href="/signup" class="btn btn-default"><i class="fa fa-user fa-fw"></i>Registrati</a>
    </div>

</div>
</body>
</html>