<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <i class="fa fa-rocket fa-fw"></i>
                BackOffice
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="fa fa-user fa-fw fa-lg"></i>{{::$ctrl.username}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="profile">Modifica profilo</a></li>
                        <li ng-repeat="item in $ctrl.menuItems"><a href="{{::item.anchor}}">{{::item.label}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>


</nav>